---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";
import LinkedInIcon from "../icons/LinkedInIcon.astro";
import GitHubIcon from "../icons/GitHubIcon.astro";
import MailIcon from "../icons/MailIcon.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import BriefCaseIcon from "../icons/BriefCaseIcon.astro";
import CodeIcon from "../icons/CodeIcon.astro";
import Projects from "../components/Projects.astro";
---

<Layout
  title="Portfolio de miguel angel - Desarrollador y Programador Web especializado en el área de BackEnd"
  description="Descubre mis habilidades, proyectos y experiencias como desarrollador. ¡Que estas esperando!"
>
  <main class="px-4">
    <SectionContainer class="py-44 pb-32">
      <img
        class="rounded-full size-12 mb-4"
        src="/photo.png"
        alt="miguel photo"
      />
      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hola, soy Miguel Angel <a
          href="https://www.linkedin.com/in/miguel-angel-moreno-08017a202/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>

      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
        <span>Con 1 año de experiencia profesional.</span><span
          class="text-sky-300">Desarrollador Web Especializado En BackEnd.</span
        >
        <span class="text-red-200/90">De Bogotá,Colombia.</span><span
          class="opacity-85"
        >
          Enfocado siempre en seguir aprendiendo y dando lo mejor de mi.</span
        >
      </h2>
      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill
          href="https://www.linkedin.com/in/miguel-angel-moreno-08017a202/"
        >
          <LinkedInIcon class="size-4 md:size-6" />LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/miguelmoreno03">
          <GitHubIcon class="size-4 md:size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:miguelangelmorenomogollon@gmail.com ">
          <MailIcon class="size-4 md:size-6" />
          miguelangelmorenomogollon@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>
    <SectionContainer id="experiencia">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <BriefCaseIcon class="size-7" />
        Experiencia profesional
      </h2>
      <Experience />
    </SectionContainer>
    <SectionContainer id="proyectos">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>
