<section class="flex flex-col gap-8 md:flex-row justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-sky-300 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      Mi nombre es Miguel Ángel Moreno la primera vez que programe recuerdo que
      era por la curiosidad de crear mi propio videojuego. Desde ese momento con
      alrededor de 12 años decidi encaminarme en el camino de ser programador.
    </p>
    <p>
      Como titulo formal en el area de programación <strong
        >tengo dos titulos</strong
      >
      como BackEnd especialist y como desarollador web FullStack. Entre mis exitos
      en estos bootcamps podemos mencionar los dos proyectos integradores que desarrolle
      junto a nuestros compañeros, <strong
        >los cuales fueron vistos, evaluados y presentados a gente de mercado
        libre y globant.</strong
      >
    </p>
    <p>
      Me gusta programar activamente ya sea desarrollando pequeños proyectos o
      grandes, <em class="italic"
        >me parece interesante el hecho de afrontar nuevos desafios y
        experiencias para asi aprender cada vez mas y ser mejor programador</em
      >
    </p>
  </div>
  <img
    src="/photo.png"
    alt="miguel-photo"
    class="rounded-full size-64 order-1 md:order-2"
  />
</section>
