---
const navItems = [
  {
    title: "Experiencia",
    label: "experiencia",
    url: "/#experiencia",
  },
  {
    title: "Proyectos",
    label: "proyectos",
    url: "/#proyectos",
  },
  {
    title: "Sobre mí",
    label: "sobre-mi",
    url: "/#sobre-mi",
  },
  {
    title: "Contacto",
    label: "contacto",
    url: "/#contacto",
  },
]
---

<header
  class={`
    flex justify-center items-center
    mx-auto
    py-5
    sticky top-0
    w-full xl:w-[1120px]
    z-10
  `}
>
  <nav
    class={`
    border border-white rounded-full
    px-3 py-1
    flex flex-row items-center
     
    backdrop-blur-2xl
  `}
  >
    {
      navItems.map((link)=> (
      <a class="hover:bg-white/10 rounded-full px-3 transition" href={link.url} aria-label={link.label}>
        {link.title} </a>
      ))
    }
    
    
  </nav>
</header>


